%form{ action: '/login', method: 'post' }
  %div
    %label UserName
    %input{ name: 'username' }
  %div
    %label Password
    %input{ name: 'password' }
  %div
    %input{ type: 'submit' }

